* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.absolute_center {
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.inline {
  display: inline;
}
