@import "mixins";

h1 {
  font-weight: 300;
  font-size: 1.6rem;
}

header {
  text-align: center;
  width: 100%;
  padding: 40px 20px 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#gui {
  width: 600px;
  max-width: 95%;
  margin: 0 auto;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#turns,
#restart,
#timer {
  width: 150px;
  cursor: pointer;
}

#stars {
  width: auto;
  display: inline;
}

#game_container {
  padding: 1%;
  width: 610px;
  max-width: 90%;
  height: 610px;
  max-height: 90vw;
  margin: 0 auto;
  background: #16bffd;
  background: -webkit-gradient(linear, left top, right bottom, from(#16bffd), to(#cb3066));
  background: linear-gradient(to right bottom, #16bffd, #cb3066);
  position: relative;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  .card {
    width: 150px;
    max-width: 25%;
    height: 150px;
    max-height: 25%;
    padding: 1%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    .cover {
      height: 100%;
      width: 100%;
      border-radius: 5px;
      cursor: pointer;
      background-color: #2a3d4a;
      line-height: 150px;
      text-align: center;
      font-size: 30px;
      color: white;
    }
    .front {
      background-color: #2a3d4a;
    }
    .back {
      background-color: #13e2ba;
    }
  }
}

.flip {
  -webkit-animation-name: flip;
          animation-name: flip;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.reverse_flip {
  -webkit-animation-name: flip;
          animation-name: flip;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.lockedIn {
  background-color: #13e2ba !important;
  i {
    display: inline !important;
  }
}

@-webkit-keyframes flip {
  0% {
    background-color: #2a3d4a;
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    background-color: #13e2ba;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes flip {
  0% {
    background-color: #2a3d4a;
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    background-color: #13e2ba;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}


footer {
  z-index: 20;
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0px;

  h1 {
    font-weight: 600;
    margin: 20px 0px;
  }

  #win-check {
    height: 70px;
    width: 70px;
    border-radius: 38px;
    border: 1px solid rgb(66, 188, 32);
    margin: 0 auto;
    color: rgb(66, 188, 32);
    line-height: 74px;
    font-size: 33px;
  }

  button {
    padding: 0.8rem 2rem;
    margin-top: 20px;
    border-radius: 2px;
    border: none;
    background-color: #2168c4;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
}
